.Projects_Container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 85%;
    padding-top: 50px;
}

.Projects{
    height: 100%;
    width: 75%;
}

#User_Projects{
    font-size: 32px;
    font-weight: bold;
    padding-left: 30px;
    height: 5%;
}


.Grid_Container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    column-gap: 30px;
    row-gap: 30px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    height: 95%;
    align-content: stretch;
    justify-content: center;
    padding: 22px;
}

.Grid_Container::-webkit-scrollbar {
    display: none;
  }
  

.Grid{
    background: -webkit-linear-gradient(left, orange 2.5%, white 0%);
    aspect-ratio: 2 / 1;
    border-radius: 10px;
    box-shadow: 3px 6px 7px 0px rgba(166,166,166,1);
}

/* --------------------------------------------------- Right Side Board --------------------------------------------------- */

.Info_Container{
    width: 25%;
    justify-content: center;
    align-items: center;
}

.Announcements{
    justify-content: center;
    align-items: center;
}

.Announcement_Container{
    background: white;
    width: 80%;
    aspect-ratio: 1 / 1.5;
    border-radius: 10px;
    box-shadow: 3px 6px 7px 0px rgba(166,166,166,1);
    list-style-type: none;

}


#Info{
    color: black;
    font-size: medium;
    font-weight: 300;
}
